<header class="header">
  <section class="header-container">
    <a class="logo" href="<%- url_for() %>"><%= config.title %></a>
    <ul class="nav">
      <% for (name in theme.menu) { %>
      <% var link = theme.menu[name]; %>
      <li><a href="<%- url_for(link) %>"<%- /^https?:\/\//.test(link) ? ' target="_blank" rel="noopener noreferrer"' : '' %>><%= name %></a></li>
      <% } %>
    </ul>
  </section>
</header>
