<article class="post">
  <% if (is_post()) { %>
  <div class="post-title"><%= page.title %></div>
  <div class="post-meta">
    <div class="date"><%- date(page.date, "YYYY MMMM Do") %></div>
    <% if (page.updated && page.updated !== page.date) { %>
    <div class="updated">updated: <%- date(page.updated, "YYYY MMMM Do") %></div>
    <% } %>
    <% if (page.source_url) { %>
    <div class="source"><a href="<%- page.source_url %>" target="_blank" rel="noopener noreferrer">view source</a></div>
    <% } %>
  </div>
  <div class="post-tags">
    <% page.tags.map(tag => tag.name).forEach(function (tag) { %>
    <div class="tag-item"><%- tag %></div>
    <% }) %>
  </div>
  <% } %>

  <main class="post-content"><%- page.content %></main>

</article>

<%- js('js/highlight.js') %>
